[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/niel/Desktop/candy-icons.tar.xz]
row=1
col=0

[/home/niel/Desktop/arcolinux-next-v21.05.4-x86_64.iso]
row=0
col=0

[/home/niel/Desktop/famicom_large-2019-11-26-1623.jpg]
row=2
col=0

[/home/niel/Desktop/NA2104231117416.pdf]
row=3
col=0

[/home/niel/Desktop/EIA CHOIR AVP report 2021 march.mp4]
row=5
col=0

[/home/niel/Desktop/AVP Report - MIDDLE EAST DIVISION .mp4]
row=4
col=0

